* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lilita One', cursive;
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;
    /* height: 100vh; */
    background-image: url('./pics/real-black-bg.jpg');

}

section {
    background-image: url('./pics/real-black-bg.jpg');
    height: 75vh;
}

.testo {
    position: relative;
    top: 200px;
}

.title {
    font-size: 15rem;
    text-align: center;
    letter-spacing: 20px;
    position: relative;
    bottom: 100px;
    color: #e3000e;
    font-family: Lilita One, cursive;
    font-size: 14rem;
    line-height: 1.1;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-shadow: #fff 2px 4px 0, #fff -4px -4px 0, #fff -4px 4px 0, #fff 4px -4px 0;
}

.title-small {
    text-align: center;
    position: relative;
    bottom: 120px;
    color: #e3000e;
    font-family: Lilita One, cursive;
    font-size: 5rem;
    line-height: 1.1;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-shadow: #fff 2px 2px 0, #fff -2px -2px 0, #fff -2px 2px 0, #fff 2px -2px 0;
}

.word {
    text-align: center;
    color: white;
    font-family: sans-serif;
    /* font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif; */
    font-size: 1.35rem;
    width: 33em;
    position: relative;
    left: 500px;
    bottom: 100px;
    line-height: 1.5;
}

.bread {
    position: relative;
    left: 83rem;
    bottom: 400px;
    width: 30rem;
    /* z-index: -2; */
}

.brocolli {
    position: relative;
    bottom: 800px;
    right: 920px;
}

.garlic {
    position: relative;
    bottom: 150px;
    right: 540px;
}

.tomato {
    height: 7em;
    position: relative;
    right: 170px;
    top: 20px;
    display: block;
}

.poster {
    width: 100px;
    gap: 50px;
}

.burger-img {
    width: 26em;
    cursor: pointer;
}

.burger-img:hover {
    transform: translateY(-10px);
    transition: 0.5s;
}

.burger1,
.burger2,
.burger3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    color: white;
    margin-top: 20px;
}

.steak {
    width: 26em;
    cursor: pointer;
}

.container {
    background-image: url('./pics/real-black-bg.jpg');
}

.container1 {
    display: flex;
    justify-content: center;
    gap: 3em;
    padding-bottom: 20px;

}

.banner {
    background-image: url('./pics/banner.df76377e.jpg');
    height: 60vh;
    text-align: center;
    color: white;
    padding-top: 5em;
}

.banner-head {
    font-size: 1.75em;
    padding-bottom: 20px;
}

.banner-collection {
    font-family: Lilita One, cursive;
    font-size: 4.75em;
    font-weight: 500;
}

.banner-text {
    font-size: 1.2rem;
    padding: 0 7%;
    width: 50em;
    position: relative;
    left: 245px;
    top: 12px;
}

.pages {
    color: #e3000e;
    font-family: Lilita One, cursive;
    text-align: center;
    padding-top: 2.5em;
    font-size: 5rem;
    letter-spacing: 0.5px;
    font-weight: 400;
}

.s {
    color: #888;
    padding: 0 18%;
    margin: 12px 0 0;
    font-size: 20px;
    text-align: center;
}

.img {
    width: 300px;
}

.img:hover {
    transform: translateY(-10px);
    transition: 0.5s;
}

.img-section {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin: 70px;
    padding-bottom: 100px;
}

.img-section-text {
    text-align: center;
    color: white;
    font-weight: 600;
    line-height: 2.5;
}

.second-banner {
    background-image: URL('./pics/banner2.jpg');
    position: relative;
    top: 90em;
    text-align: center;
    justify-content: center;
    height: fit-content;
    padding-top: 100px;
    margin-top: 170px;
}

.banner-1 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 5px;
}

.banner-2 {
    font-family: Lilita One, cursive;
    font-size: 4.5rem;
    padding-bottom: 10px;
    font-weight: 600;
    letter-spacing: 5px;
}

.banner-3 {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: white;
    line-height: 1.8;
    padding-bottom: 50px;
}

.second-banner img {
    width: 80em;
    height: 40em;
}

.foot {
    position: relative;
    top: 90em;
    font-size: 1em;
    color: white;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    line-height: 1.5;
    font-family: 'Roboto';
}

@media screen and (max-width: 500px) {
    body {
        overflow: hidden;
    }
    
    .title {
        font-size: 100px;
        text-shadow: #fff 0px 2px 0, #fff -2px -2px 0, #fff -2px 2px 0, #fff 2px -2px 0;
    }

    .title-small {
        line-height: 2;
        font-size: 20px;
    }

    .word  {
        text-align: center;
        color: white;
        font-family: 'Roboto';
        font-size: 0.85rem;
        width: 33em;
        position: relative;
        left: 20px;
        bottom: 100px;
        line-height: 1.8;
    }

    .bread {
        position: relative;
        bottom: 300px;
        left: 350px;
        width: 250px;
    }
    
    .brocolli {
        position: relative;
        bottom: 705px;
        right: 300px;
        width: 8em;
    }

    .garlic {
        position: relative;
        width: 290px;
        right: 150px;
    }

    .banner-collection {
        font-family: Lilita One, cursive;
        font-size: 3em;
        font-weight: 500;
    }

    .banner-text {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 1.1rem;
        width: 22em;
        position: relative;
        left: 25px;
        top: 10px;
    }

    .pizza {
        width: 30em;
        position: relative;
        top: 40px;
        z-index: 1;
    }

    .pages{
        font-size: 3.5rem;
    }

    .s {
        width: 300px;
    }

    .banner {
        position: relative;
        bottom: 100px;
    }

    .banner-2 {
        font-size: large;
    }

    .banner-3 {
        font-size: small;
    }

    .second-banner {
        position: relative;
        top:410em;
    }

    .banner-pic {
        width: 30em !important;
        height: 20em !important;
    }

    .second-banner {
        margin-top: 200px;
    }

    .foot {
        position: relative;
        top: 412em;
    }

    .container {
        position: relative;
        bottom: 100px;
    }
    .section {
        position: relative;
        bottom: 150px;
    }
}
